#canvas1 {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#canvasBG {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

body {
    width: 15%;
    height: 100%;
    border-style: double;
}