
.playpen-sans-arabic-regular {
  font-family: "Playpen Sans Arabic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#canvas1 {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#canvasBG {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.frame {
    position: fixed; /*So when scrolling or resizing, the frame element stays pinned to the screen and it covers the entire window*/
    inset: 0; /* basically lets us place this element so its edges touch all four edges of the screen, so the .frame container becomes full-screen.*/
    pointer-events: none; /*to prevent the frame from blocking the canvas drawing (else, mouse clicks would hit the frame instead of the canvas)*/
    z-index: 10;
}

.frame img {
    position: absolute; /*to manually place the elements, ignoring the normal flow of code written in html*/
}

#top-frame {
    top: 0;
    left: 0;
    width: 100%; /*stretch across the screen*/
    height: auto; /*scale automatically*/
}

#bottom-frame {
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#left-frame {
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

#right-frame {
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}

.hide {
    display: none !important;
}

.color-btn {
    position: absolute;
    top: 50px;
    left: 60px;

    width: 100px;
    height: 100px;

    background-image: url("../assets/default/colors.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.color-btn:hover {
    width: 180px;
    height: 180px;

    top: 25px;
    left: 30px;

    background-image: url("../assets/hover/colors.svg");
}

.save-btn {
    position: absolute;
    bottom: 50px;
    left: 60px;

    width: 100px;
    height: 100px;

    background-image: url("../assets/default/save.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.save-btn:hover {
    width: 160px;
    height: 160px;

    bottom: 20px;
    left: 30px;

    background-image: url("../assets/hover/save.svg");
}

.sticker-btn {
    position: absolute;
    bottom: 50px;
    right: 60px;

    width: 100px;
    height: 100px;

    background-image: url("../assets/default/stickers.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sticker-btn:hover {
    width: 160px;
    height: 160px;

    bottom: 20px;
    right: 30px;

    background-image: url("../assets/hover/stickers.svg");
}

.color-btn.active {
    width: 400px;
    height: 400px;

    top: -30px;
    left: 50px;

    background-image: url("../assets/click/colors.svg");
}

#color-picker {
    font-family: "Playpen Sans Arabic", cursive;
    position: absolute;
    top: 180px;
    left: 100px;
}

.save-btn.active {
    width: 300px;
    height: 300px;

    bottom: 10px;
    left: 85px;

    background-image: url("../assets/click/save.svg");
}

.sticker-btn.active {
    width: 520px;
    height: 520px;

    bottom: -55px;
    right: 50px;

    background-image: url("../assets/click/stickers.svg");
}

#stickers-container {
    position: absolute;
    bottom: 72px;
    right: 108px;

    display: grid;
    grid-template-columns: repeat(2, 60px); /*2 columns; each is 60px*/
    gap: 10px;
}

.sticker{
    width: 60px;
    height: 60px;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* .no-draw {
    opacity: 0;
    pointer-events: none;
} */

